@charset "UTF-8";
/* 모든 컨트롤에 적용될 기본 폰트 */
/* 기본 텍스트 색상 */
/* disable 상태를 나타내는 텍스트 색상 */
/* 기본 보더 색상 */
/* 포커스 보더 색상 */
/* Disable 상태의 보더 색상. */
/* 내부에 아이템을 같는 컨트롤의 경우, 각 아이템에 마우스 호버시의 텍스트 색상 */
/* 내부에 아이템을 같는 컨트롤의 경우, 각 아이템에 마우스 호버시의 배경 색상 */
/* 내부에 아이템을 같는 컨트롤의 경우, 각 아이템에 선택된 경우 텍스트 색상 */
/* 내부에 아이템을 같는 컨트롤의 경우, 각 아이템이 선택된 경우 배경 색상 */
/* * 내부에 아이템을 같는 컨트롤이 Disabled된 경우, 각 아이템에 선택된 경우 텍스트 색상 */
/* 내부에 아이템을 같는 컨트롤의 Disabled된 경우, 각 아이템이 선택된 경우 배경 색상 */
/* 모든 UIControl 공통 스타일 */
.cl-control {
  font: 11pt sans-serif;
  color: #333;
}
/* 넘버 에디터  */
.cl-numbereditor {
  font: 11pt sans-serif;
  border: 1px solid #bbb;
  color: #333;
  /* 넘버 에디터 disabled 상태  */
}
.cl-numbereditor .cl-numbereditor-buttons {
  /* 넘버 에디터 스핀 업 버튼 */
  /* 넘버 에디터 스핀 다운 버튼 */
}
.cl-numbereditor:not(.cl-disabled) {
  /* 넘버 에디터 스핀 업 버튼 호버 */
  /* 넘버 에디터 스핀 업 버튼 액티브  */
  /* 넘버 에디터 스핀 다운 버튼 호버 */
  /* 넘버 에디터 스핀 다운 버튼 액티브 */
}
.cl-numbereditor.cl-disabled {
  border-color: #ddd;
  background-color: #ccc;
  /* 넘버 에디터 disabled 상태 인풋 박스 */
}
.cl-numbereditor.cl-disabled .cl-numbereditor-editor .cl-numbereditor-input {
  color: #666;
}
.cl-numbereditor.cl-disabled input.cl-numbereditor-input[disabled] {
  color: #333;
}
/* 넘버 에디터 focus 상태 */
.cl-numbereditor.cl-focus {
  border-color: #1369C5;
  /* 넘버 에디터 focus 상태 스핀 버튼 영역*/
}
.cl-numbereditor.cl-focus .cl-numbereditor-buttons {
  border-left-color: #1369C5;
}
/* 데이트 인풋 */
.cl-dateinput {
  font: 11pt sans-serif;
  color: #333;
  border: 1px solid #bbb;
  text-align: left;
  /* 데이트 인풋 텍스트 */
  /* 데이트 인풋 버튼 */
}
.cl-dateinput.cl-disabled {
  /* 데이트 인풋 disabled 상태 버튼 */
}
/* 데이트 인풋 disabled 상태 */
.cl-dateinput.cl-disabled {
  color: #666;
  background-color: #ccc;
  border-color: #ddd;
  /* 데이트 인풋 disabled 상태 텍스트*/
}
.cl-dateinput.cl-disabled input[disabled] {
  color: #333;
}
/* 데이트 인풋 포커스 상태 */
.cl-dateinput.cl-focus {
  border: #1369C5 solid 1px;
}
/* 캘린더 */
.cl-calendar {
  font: 11pt sans-serif;
  color: #333;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #fff;
  /* 캘린더 헤더 */
  /* 캘린더 푸터 */
  /* 캘린더 포커스 상태 */
}
.cl-calendar .cl-calendar-header {
  /* 캘린더 이전 년도 버튼 */
  /* 캘린더 이후 년도 버튼 */
  /* 캘린더 이전 달 버튼 */
  /* 캘린더 다음 달 버튼 */
}
.cl-calendar .cl-calendar-header .cl-calendar-header-before {
  /* 캘린더 이전 년도 버튼 호버 상태 */
}
.cl-calendar .cl-calendar-header .cl-calendar-header-after {
  /* 캘린더 이후 년도 버튼 호버 상태 */
}
.cl-calendar .cl-calendar-header .cl-calendar-header-prev {
  /* 캘린더 이전 달 버튼 호버 상태 */
}
.cl-calendar .cl-calendar-header .cl-calendar-header-next {
  /* 캘린더 다음 달 버튼 호버 상태 */
}
.cl-calendar .cl-calendar-content {
  /* 날짜 선택 모드시 날짜 스타일 */
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day {
  /* 일요일 셀 */
  /* 토요일 셀 */
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day.cl-calendar-content-sun {
  color: #a7a6a6;
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day.cl-calendar-content-sat {
  color: #a7a6a6;
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day,
.cl-calendar .cl-calendar-content td.cl-calendar-content-month,
.cl-calendar .cl-calendar-content td.cl-calendar-content-year {
  /* 기본 날짜 - 오늘 날짜 셀*/
  /* 선택된 날짜 셀 */
  /* 셀 호버 스타일 */
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day.cl-calendar-defaultdate,
.cl-calendar .cl-calendar-content td.cl-calendar-content-month.cl-calendar-defaultdate,
.cl-calendar .cl-calendar-content td.cl-calendar-content-year.cl-calendar-defaultdate {
  background-color: #8A8A8B;
  color: white;
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day.cl-selected,
.cl-calendar .cl-calendar-content td.cl-calendar-content-month.cl-selected,
.cl-calendar .cl-calendar-content td.cl-calendar-content-year.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
}
.cl-calendar .cl-calendar-content td.cl-calendar-content-day:not(cl-disabled):hover,
.cl-calendar .cl-calendar-content td.cl-calendar-content-month:not(cl-disabled):hover,
.cl-calendar .cl-calendar-content td.cl-calendar-content-year:not(cl-disabled):hover {
  background-color: #656565;
  color: white;
}
.cl-calendar .cl-calendar-footer {
  /* 캘린더 푸터 날짜 호버 스타일 */
}
.cl-calendar.cl-focus {
  border-color: #1369C5;
}
/* 캘린더 disabled 상태 */
/* 리스트 박스 */
.cl-listbox {
  font: 11pt sans-serif;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  /* 리스트 박스 내 아이템 목록 박스 */
}
.cl-listbox .cl-listbox-list {
  /* 아이템 목록 박스 내 각 아이템 */
}
.cl-listbox .cl-listbox-list .cl-listbox-item {
  /* 선탹된 아이템 */
  /* 아이템 텍스트 */
}
.cl-listbox .cl-listbox-list .cl-listbox-item.cl-selected {
  color: #FFFFFF;
  background-color: #208AED;
}
.cl-listbox:not(.cl-disabled) .cl-listbox-item:not(.cl-disabled):not(.cl-selected) {
  /* 포커스된 아이템 */
  /* 호버된 아이템 */
}
.cl-listbox:not(.cl-disabled) .cl-listbox-item:not(.cl-disabled):not(.cl-selected):focus {
  color: #333435;
  background-color: #DAEFFC;
}
.cl-listbox:not(.cl-disabled) .cl-listbox-item:not(.cl-disabled):not(.cl-selected):hover {
  color: #333435;
  background-color: #DAEFFC;
}
/* disabled 상태 */
.cl-listbox.cl-disabled {
  color: #666;
  /* disabled 상태에서 선택된 아이템들 */
}
.cl-listbox.cl-disabled .cl-listbox-item.cl-selected {
  color: #777;
  background-color: #ccc;
}
/* 포커스 상태 */
.cl-listbox.cl-focus {
  border: 1px solid #1369C5;
}
/* 링크드 리스트 박스 루트 */
.cl-linkedlistbox {
  font: 11pt sans-serif;
  color: #333;
  /* 리스트 박스 */
}
.cl-linkedlistbox .cl-linkedlistbox-listbox {
  /* 리스트 박스 헤더 */
  /* 리스트 박스 리스트 */
}
.cl-linkedlistbox .cl-linkedlistbox-listbox .cl-linkedlistbox-header {
  border: 1px solid #bbb;
}
.cl-linkedlistbox .cl-linkedlistbox-listbox .cl-linkedlistbox-list {
  border: 1px solid #bbb;
  background-color: white;
  /* 리스트 박스 리스트 아이템 */
}
.cl-linkedlistbox .cl-linkedlistbox-listbox .cl-linkedlistbox-list .cl-linkedlistbox-item {
  /* 리스트 박스 리스트 아이템 텍스트 */
  /* 리스트 박스 리스트 아이템 리프 아이콘 */
  /* 리스트 박스 리스트 아이템 드릴다운 아이콘 */
  /* 리스트 박스 리스트 아이템 - disabled 상태 */
}
.cl-linkedlistbox .cl-linkedlistbox-listbox .cl-linkedlistbox-list .cl-linkedlistbox-item.cl-disabled {
  color: #666;
  /* 리스트 박스 리스트 아이템 - 선택됨, disabled 상태 */
}
.cl-linkedlistbox .cl-linkedlistbox-listbox .cl-linkedlistbox-list .cl-linkedlistbox-item.cl-disabled.cl-selected {
  background-color: #ccc;
}
.cl-linkedlistbox.cl-focus {
  /* 리스트 박스 헤더 - 포커스 상태 */
  /* 리스트 박스 리스트 - 포커스 상태 */
}
.cl-linkedlistbox.cl-focus .cl-linkedlistbox-header {
  border-color: #1369C5;
}
.cl-linkedlistbox.cl-focus .cl-linkedlistbox-list {
  border-color: #1369C5;
}
.cl-linkedlistbox:not(.cl-disabled) .cl-linkedlistbox-item:not(.cl-disabled) {
  cursor: pointer;
  /* 아이템 호버 스타일 */
  /* 선택된 아이템 스타일 */
}
.cl-linkedlistbox:not(.cl-disabled) .cl-linkedlistbox-item:not(.cl-disabled):hover,
.cl-linkedlistbox:not(.cl-disabled) .cl-linkedlistbox-item:not(.cl-disabled):focus {
  color: #333435;
  background-color: #DAEFFC;
}
.cl-linkedlistbox:not(.cl-disabled) .cl-linkedlistbox-item:not(.cl-disabled).cl-selected {
  color: #FFFFFF;
  background-color: #208AED;
  /* 선택된 아이템 드릴 다운 아이콘 */
}
.cl-menu {
  font: 11pt sans-serif;
  /* 메뉴 리스트 */
}
.cl-menu .cl-menu-list {
  border: 1px solid #bbb;
  /* 메뉴 아이템 */
}
.cl-menu .cl-menu-list .cl-menu-item {
  color: #333;
  /* 메뉴 아이템 아이콘 */
  /* 메뉴 아이템 텍스트 */
  /* 메뉴 아이템 단축키 */
  /* 서브 메뉴 */
  /* 메뉴 아이템 - 호버 */
  /* 메뉴 아이템 - disabled */
  /* 메뉴 아이템 - 선택됨 */
}
.cl-menu .cl-menu-list .cl-menu-item .cl-menu-arrow {
  /* 메뉴 아이템 드릴다운 아이콘 */
}
.cl-menu .cl-menu-list .cl-menu-item .cl-sub {
  border: 1px solid #bbb;
}
.cl-menu .cl-menu-list .cl-menu-item.cl-hover {
  background-color: #DAEFFC;
  color: #333435;
}
.cl-menu .cl-menu-list .cl-menu-item.cl-disabled {
  color: #666;
  /* 메뉴 아이템 - 선택됨, disabled */
}
.cl-menu .cl-menu-list .cl-menu-item.cl-disabled.cl-selected {
  color: #777;
  background-color: #ccc;
}
.cl-menu .cl-menu-list .cl-menu-item.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
  /* 메뉴 아이템 드릴다운 아이콘 - 선택됨 */
}
.cl-menu.cl-focus {
  /* 메뉴 리스트 - 포커스 */
}
.cl-menu.cl-focus .cl-menu-list {
  border-color: #1369C5;
}
.cl-menu.cl-disabled {
  /* 메뉴 아이템 - disabled */
}
.cl-menu.cl-disabled .cl-menu-item {
  color: #666;
  /* 메뉴 아이템 - disabled, 선택됨 */
}
.cl-menu.cl-disabled .cl-menu-item.cl-selected {
  background-color: #ccc;
  color: #777;
  /* 메뉴 아이템 드릴다운 아이콘 - disabled */
}
/* 파일 업로드 루트 */
.cl-fileupload {
  font: 11pt sans-serif;
  color: #333;
  border: 1px solid #bbb;
  background-color: #fff;
  /* 파일 업로드 내 텍스트 */
  /* 파일 업로드 디테일 영역 */
  /* 푸터 */
  /* 파일 업로드 체크 박스 */
}
.cl-fileupload .cl-fileupload-header {
  /* 헤더 */
  /* 헤더내 체크 박스 */
  /* 파일명 헤더 컬럼 */
  /* 파일 크기 헤더 컬럼 */
}
.cl-fileupload .cl-fileupload-detail {
  /* 각 파일 행 */
}
.cl-fileupload .cl-fileupload-detail .cl-fileupload-file {
  /* 체크 박스 컬럼 */
  /* 파일 아이콘 */
  /* 피일 이름 */
  /* 파일 크기 */
}
.cl-fileupload .cl-fileupload-footer {
  /* 푸터 텍스트 */
  /* 푸터 내 버튼 영역 */
}
.cl-fileupload .cl-fileupload-footer .cl-fileupload-buttons {
  /* 푸터 내 버튼 */
}
.cl-fileupload .cl-fileupload-checkbox {
  /* 선택된 파일 업로드 체크 박스 */
}
.cl-fileupload:not(.cl-disabled) {
  /* 파일 - 호버 상태 */
  /* 파일 업로드 버튼 - 호버 상태 */
}
/* 버튼 */
.cl-button {
  font: 11pt sans-serif;
  color: #333;
  background-image: linear-gradient(#FCFEFF, #E0E1E2);
  border-radius: 4px;
  border: solid 1px #959697;
  text-shadow: 0px 1px 0px white;
  /* 버튼위에 마우스를 올렸을 때의 스타일 */
  /* 버튼이 포커스를 가졌을 때의 스타일 */
  /* 버튼을 클릭했을 때의 스타일 */
}
.cl-button:not(.cl-disabled):hover {
  color: #1068A4;
}
.cl-button:focus,
.cl-button.cl-focus {
  border: solid 1px #1369C5;
}
.cl-button:not(.cl-disabled).cl-active,
.cl-button:not(.cl-disabled):active {
  background-image: linear-gradient(#ddd, #eee 5px, #ddd);
}
/* Disable 상태의 버튼 */
.cl-button.cl-disabled {
  color: #666;
}
/* 아코디언 */
.cl-accordion {
  border: 1px solid #bbb;
  background-color: #fff;
  color: #333;
  font: 11pt sans-serif;
  /** 아코디언의 각 헤더 */
}
.cl-accordion .cl-accordion-header {
  background-color: #F2F4F5;
  color: #333;
  border: solid 1px #B7B8BA;
  /** 아코디언 펼침 버튼 */
  /* 아코디언 헤더에 마우스가 호버되었을 떄의 스타일 */
  /* 아코디언 헤더를 클릭했을 때의 스타일 */
}
.cl-accordion .cl-accordion-header:hover {
  background-color: #D7D7D9;
}
.cl-accordion .cl-accordion-header.cl-activated {
  background-color: #208AED;
  border-color: #208AED;
  color: #FFFFFF;
  /* 클릭된 헤더의 펼침 버튼 아이콘 */
}
.cl-accordion .cl-accordion-section:not(.cl-accordion-placeholder) {
  /* 아코디언 컨텐츠 */
}
.cl-accordion .cl-accordion-section:not(.cl-accordion-placeholder) .cl-accordion-content {
  border: solid 1px #208AED;
}
.cl-accordion .cl-accordion-section+.cl-accordion-header {
  /* 아코디언 섹션간의 간격 */
  margin-top: 4px;
}
/* Disabled 상태의 아코디언 */
.cl-accordion.cl-disabled {
  /* 선택된 헤더 */
}
.cl-accordion.cl-disabled .cl-accordion-header.cl-activated {
  background-color: #ccc;
  border-color: #ccc;
  color: #777;
}
.cl-accordion.cl-disabled .cl-accordion-section:not(.cl-accordion-placeholder) {
  /* 선택된 바디 */
}
.cl-accordion.cl-disabled .cl-accordion-section:not(.cl-accordion-placeholder) .cl-accordion-content {
  border-color: #ccc;
}
/* 인풋 박스 루트 */
.cl-inputbox {
  font: 11pt sans-serif;
  color: #333;
  border: 1px solid #bbb;
  background-color: #fff;
  /* 인풋 박스 텍스트 */
  /* 인풋 박스 - 포커스 상태 */
  /* 인풋 박스 - disabled 상태 */
}
.cl-inputbox.cl-focus {
  border-color: #1369C5;
}
.cl-inputbox.cl-disabled {
  border-color: #ddd;
  background-image: none;
  background-color: #ccc;
  color: #333;
}
/* 슬라이더 */
.cl-slider {
  font: 11pt sans-serif;
  /* 슬라이더 바 */
}
.cl-slider .cl-slider-bar {
  background-color: #fff;
  border: 1px solid #bbb;
  /* 슬라이더 가로 바 */
  /* 슬라이더 세로 바*/
  /* 슬라이더 핸들 */
  /* 슬라이더 선택 영역 표시 바 */
}
.cl-slider .cl-slider-bar.cl-horizontal {
  background-image: linear-gradient(#ddd, white 3px);
}
.cl-slider .cl-slider-bar.cl-vertical {
  background-image: linear-gradient(to right, #ddd, white 3px);
}
.cl-slider .cl-slider-bar .cl-slider-handle {
  /* 슬라이더 가로바 핸들 */
  /* 슬라이더 세로바 핸들 */
  /* 슬라이더 값 표시 팝 오버 */
}
.cl-slider .cl-slider-bar .cl-slider-range {
  background-color: #7ebcf5;
}
.cl-slider.cl-focus {
  /* 슬라이더 바 - focus */
}
.cl-slider.cl-focus .cl-slider-bar {
  border-color: #1369C5;
}
.cl-slider.cl-disabled {
  /* 슬라이더 바 핸들 - disabled */
  /* 슬라이더 바 선택 영역 - disabled */
}
.cl-slider.cl-disabled .cl-slider-range {
  background-color: #ccc;
}
.cl-slider:not(.cl-disabled) .cl-slider-bar .cl-slider-handle {
  /* 슬라이더 바 핸들 - hover */
}
/* 아웃풋 */
.cl-output {
  font: 11pt sans-serif;
  color: #333;
}
.cl-output.cl-disabled {
  color: #666;
}
/* 텍스트 에리어 */
.cl-textarea {
  font: 11pt sans-serif;
  border: 1px solid #bbb;
  color: #333;
  /* 텍스트 에리어 텍스트 */
  /* 텍스트 에리어 - disabled */
  /* 텍스트 에리어 - focus*/
}
.cl-textarea.cl-disabled {
  border-color: #ddd;
  background-color: #ccc;
  color: #333;
}
.cl-textarea.cl-focus {
  border-color: #1369C5;
}
/* 라디오 버튼 */
.cl-radiobutton {
  font: 11pt sans-serif;
  color: #333;
  /* 라디오 버튼 아이템 */
  /* 라디오 버튼 - disabled */
}
.cl-radiobutton .cl-radiobutton-item {
  /* 라디오 버튼 아이템 텍스트 */
}
.cl-radiobutton .cl-radiobutton-item.cl-selected {
  /* 라디오 버튼 아이템 아이콘 - 선택됨 */
}
.cl-radiobutton.cl-focus .cl-radiobutton-item.cl-selected {
  /* 라디오 버튼 아이템 아이콘 - focus */
}
.cl-radiobutton.cl-disabled .cl-text {
  color: #666;
}
.cl-radiobutton.cl-disabled .cl-radiobutton-item.cl-selected {
  /* 라디오 버튼 아이템 아이콘 - disabled, selected */
}
.cl-radiobutton:not(.cl-disabled) .cl-radiobutton-item:not(.cl-selected):not(.cl-disabled) {
  /* 라디오 버튼 아이템 아이콘 - hover */
}
/* 체크 박스 스타일 */
.cl-checkbox {
  font: 11pt sans-serif;
  color: #333;
  /* 체크 박스 아이콘 - 기본 상태 */
  /* 체크 박스 텍스트 */
  /* 체크 박스 disabled 상태 */
}
.cl-checkbox.cl-checked {
  /* 체크 박스 아이콘 - 선택된 상태 */
}
.cl-checkbox.cl-disabled.cl-checked {
  /* 체크 박스 disabled 상태에서 선택된 체크박스 아이콘 */
}
.cl-checkbox:not(.cl-disabled):not(.cl-checked):hover,
.cl-checkbox:not(.cl-disabled):not(.cl-checked).cl-hover {
  /* 체크 박스 아이콘 호버 상태 */
}
/* 체크박스 그룹 */
.cl-checkboxgroup {
  font: 11pt sans-serif;
  color: #333;
  /* 그룹 내 체크 박스 */
  /* disabled 상태 */
}
.cl-checkboxgroup.cl-disabled {
  color: #666;
}
.cl-checkboxgroup.cl-disabled .cl-checkbox {
  /* disabled 상태에서 선택된 체크 박스 아이템 텍스트 */
}
.cl-checkboxgroup.cl-disabled .cl-checkbox .cl-text {
  color: #666;
}
.cl-checkboxgroup.cl-disabled .cl-checkbox .cl-checked {
  /* disabled 상태에서 선택된 체크 박스 아이콘 */
}
.cl-checkboxgroup.cl-focus .cl-checkbox .cl-checkbox-icon {
  /* 포커스를 가진 체크박스 아이템의 아이콘 */
}
.cl-checkboxgroup.cl-focus .cl-checkbox .cl-checkbox-icon:focus {
  outline: 1px dotted black;
}
.cl-checkboxgroup:not(.cl-disabled) .cl-checkbox:not(.cl-checked):hover,
.cl-checkboxgroup:not(.cl-disabled) .cl-checkbox:not(.cl-checked).cl-hover {
  /* 체크 박스 아이콘 - 호버 */
}
/* 마스크 에디터 루트 */
.cl-maskeditor {
  font: 11pt sans-serif;
  border: 1px solid #bbb;
  background-color: #fff;
  color: #333;
  /* 마스크 에디터 텍스트 */
  /* 마스크 에디터 - 포커스 */
  /* 마스크 에디터 - disabled */
}
.cl-maskeditor.cl-focus {
  border-color: #1369C5;
}
.cl-maskeditor.cl-disabled {
  border-color: #ddd;
  background-color: #ccc;
  color: #333;
}
/* 콤보 박스 루트 */
.cl-combobox {
  font: 11pt sans-serif;
  color: #333;
  border: 1px solid #bbb;
  background-color: #fff;
  /* 콤보 박스 펼침 버튼 */
  /* 포커스 상태 */
  /* 콤보 박스 disabled 상태 */
}
.cl-combobox.cl-focus {
  border-color: #1369C5;
}
.cl-combobox.cl-disabled {
  border-color: #ddd;
  background-color: #ccc;
  color: #666;
}
/* 콤보 박스 리스트 박스 */
.cl-combobox-list {
  font: 11pt sans-serif;
  border: 1px solid #1369C5;
  color: #333;
  /* 콤보 박스 리스트 아이템 */
}
.cl-combobox-list .cl-combobox-item {
  /* 콤보 박스 리스트 아이템 텍스트 */
  /* 콤보 박스 리스트 아이템 - 선택 됨 */
  /* disabled 상태 콤보 박스 리스트 아이템 */
}
.cl-combobox-list .cl-combobox-item.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
}
.cl-combobox-list .cl-combobox-item.cl-disabled {
  color: #666;
  /* disabled 상태에서 선택된 콤보 박스 리스트 아이템 */
}
.cl-combobox-list .cl-combobox-item.cl-disabled.cl-selected {
  color: #777;
  background-color: #ccc;
}
.cl-combobox-list .cl-combobox-item:not(.cl-disabled) {
  /* 콤보 박스 리스트 아이템 - 호버 */
}
.cl-combobox-list .cl-combobox-item:not(.cl-disabled):not(.cl-selected):hover,
.cl-combobox-list .cl-combobox-item:not(.cl-disabled):not(.cl-selected).cl-hover {
  color: #333435;
  background-color: #DAEFFC;
}
/* 링크드 콤보 박스 루트 */
.cl-linkedcombobox {
  font: 11pt sans-serif;
  color: #333;
  /* 콤보 박스 */
  /* 콤보 박스 - 포커스 상태 */
  /* 콤보 박스 - disabled 상태 */
}
.cl-linkedcombobox .cl-linkedcombobox-combo {
  border: 1px solid #bbb;
  background-color: #fff;
  width: 150px;
  /* 콤보 박스 인풋 텍스트 */
  /* 콤보 박스 펼침 버튼 */
}
.cl-linkedcombobox.cl-focus .cl-linkedcombobox-combo {
  border-color: #1369C5;
}
.cl-linkedcombobox.cl-disabled {
  /* 콤보 박스 펼침 버튼 - disabled 상태 */
}
.cl-linkedcombobox.cl-disabled .cl-linkedcombobox-combo {
  border-color: #ddd;
  background-color: #ccc;
  color: #333;
}
/* 콤보 박스 리스트 박스 */
.cl-linkedcombobox-list {
  font: 11pt sans-serif;
  color: #333;
  border: 1px solid #1369C5;
  background-color: white;
  /* 콤보 박스 아이템 */
}
.cl-linkedcombobox-list .cl-linkedcombobox-item {
  /* 콤보 박스 아이템 텍스트 */
  /* 콤보 박스 아이템 드릴다운 아이콘 */
  /* 콤보 박스 아이템 리프 아이콘 */
  /* 콤보 박스 아이템 - 선택됨 */
  /* 콤보 박스 아이템 - disabled 상태 */
}
.cl-linkedcombobox-list .cl-linkedcombobox-item.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
  /* 콤보 박스 아이템 드릴 다운 아이콘 - 선택됨 */
}
.cl-linkedcombobox-list .cl-linkedcombobox-item.cl-disabled {
  color: #666;
  /* 콤보 박스 아이템 - 선택됨, disabled 상태 */
}
.cl-linkedcombobox-list .cl-linkedcombobox-item.cl-disabled.cl-selected {
  color: #777;
  background-color: #ccc;
}
.cl-linkedcombobox-list .cl-linkedcombobox-item:not(.cl-disabled) {
  /* 콤보 박스 아이템 - 호버 상태 */
}
.cl-linkedcombobox-list .cl-linkedcombobox-item:not(.cl-disabled):not(.cl-selected):hover,
.cl-linkedcombobox-list .cl-linkedcombobox-item:not(.cl-disabled):not(.cl-selected).cl-hover {
  color: #333435;
  background-color: #DAEFFC;
}
/* 다이얼로그 루트 */
.cl-dialog {
  border: solid 1px #1369C5;
  /* 다이얼로그 헤더 */
}
.cl-dialog .cl-dialog-header {
  background-color: #1D7FDC;
  color: white;
  border-bottom: 1px solid #e5e5e5;
  /* 다이얼로그 헤더 텍스트 */
  /* 다이얼로그 닫기 버튼 */
  /* 다이얼로그 닫기 버튼 - 호버 */
  /* 다이얼로그 닫기 버튼 - 액티브 */
}
.cl-dialog .cl-dialog-header .cl-dialog-close:hover {
  background-color: #FE2E2E;
  color: #fff;
}
.cl-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
/* 트리 */
.cl-tree {
  border: 1px solid #bbb;
  font: 11pt sans-serif;
  color: #333;
  background-color: #fff;
  /* 트리 아이템 */
  /* 트리 - focus */
}
.cl-tree .cl-tree-item {
  /* 트리 아이템 체크박스 아이콘 */
  /* 트리 아이템 아이콘 영역 */
  /* 트리 아이템 텍스트 */
  /* 트리 아이템 - disabled */
  /* 트리 아이템 - selected */
}
.cl-tree .cl-tree-item.cl-checked {
  /* 트리 아이템 체크박스 아이콘 - 선택됨*/
}
.cl-tree .cl-tree-item.cl-partialchecked {
  /* 트리 아이템 체크박스 아이콘 - 부분 선택됨 */
}
.cl-tree .cl-tree-item.cl-folder {
  /* 트리 아이템 폴더 아이콘*/
  /* 트리 아이템 폴더 아이콘 - 펼쳐짐*/
  /* 트리 아이템 폴더 아이콘 - 접힘 */
}
.cl-tree .cl-tree-item.cl-disabled {
  color: #666;
  /* 트리 아이템 - disabled, selected */
}
.cl-tree .cl-tree-item.cl-disabled.cl-selected {
  color: #777;
  background-color: #ccc;
}
.cl-tree .cl-tree-item.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
}
.cl-tree .cl-tree-item.cl-selected.cl-folder {
  /* 트리 아이템 폴더 펼쳐짐 아이콘 - selected */
  /* 트리 아이템 폴더 점힘 아이콘 - selected */
}
.cl-tree.cl-focus {
  border-color: #1369C5;
}
.cl-tree:not(.cl-disabled) .cl-tree-item:not(.cl-disabled) {
  /* 트리 아이템 - hover */
}
.cl-tree:not(.cl-disabled) .cl-tree-item:not(.cl-disabled):not(.cl-selected).cl-hover,
.cl-tree:not(.cl-disabled) .cl-tree-item:not(.cl-disabled):not(.cl-selected):hover {
  background-color: #DAEFFC;
  color: #333435;
}
/* 트리 - disabled */
.cl-tree.cl-disabled {
  color: #666;
  border-color: #ddd;
  /* 트리 아이템 - disabled, selected */
}
.cl-tree.cl-disabled .cl-tree-item.cl-selected {
  background-color: #ccc;
  color: #777;
}
/* 그리드 */
.cl-grid {
  font: 11pt sans-serif;
  color: #333;
  border: solid 1px #bbb;
  /* 그리드 헤더 */
  /* 셀 */
  /* 그리드 푸터 */
  /* 스플릿 시 좌측 그리드 래퍼 */
  /* 스플릿 시 우측 그리드 래퍼 */
  /* 스플릿 상단 그리드 래퍼 */
  /* 스플릿 하단 그리드 래퍼 */
  /* noDataMessage 보여질 때 해당 텍스트영역 스타일 */
}
.cl-grid .cl-grid-header {
  /* 그리드 헤더 셀 */
  /* 그리드 헤더 셀 소트 인디케이터 */
}
.cl-grid .cl-grid-header .cl-grid-cell {
  /* 그리드 헤더 셀에 임베딩 된 컨트롤 */
}
.cl-grid .cl-grid-header .cl-sort {
  /* 그리드 헤더 셀 소트 인디케이터 - 소트 가능 */
  /* 그리드 헤더 셀 소트 인디케이터 - 오름차순 정렬됨 */
  /* 그리드 헤더 셀 소트 인디케이터 - 내림차순 정렬됨 */
}
.cl-grid .cl-grid-cell {
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
  /* 셀에 포함된 컨트롤 */
  /* 그룹 펼침/접힘 버튼 */
}
.cl-grid .cl-grid-cell .cl-expander {
  /* 그룹 접혀짐 버튼 */
  /* 그룹 펼쳐짐 버튼 */
}
.cl-grid tr {
  /* 보기 모드의 로우 */
  /* 추가된 로우 */
  /* 수정된 로우 */
  /* 삭제된 로우 */
  /* 선택된 로우 - 보기 모드 */
  /* 편집중인 로우 */
}
.cl-grid tr.cl-selected {
  /* 포커스 셀 */
}
.cl-grid .cl-grid-footer {
  border-top: solid 1px #bbb;
}
.cl-grid .cl-grid-leftsplit {
  border-right: double 3px #333;
}
.cl-grid .cl-grid-rightsplit {
  border-left: double 3px #333;
}
.cl-grid .cl-grid-topsplit {
  border-bottom: double 3px #333;
}
.cl-grid .cl-grid-bottomsplit {
  border-top: double 3px #333;
}
/* 네비게이션 바 */
.cl-navigationbar {
  font: 11pt sans-serif;
  background-color: white;
  border: solid 1px #bbb;
  color: #333;
  /* 상단 바 */
  /* 네비게이션 바 - 포커스 */
}
.cl-navigationbar .cl-navigationbar-bar {
  /* 네비게이션 바 아이템 */
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item {
  /* 네비게이션 바 아이템 아이콘 */
  /* 네비게이션 바 아이템 텍스트 */
  /* 네비게이션 바 아이템 단축키*/
  /* 네비게이션 바 아이템 드랍다운 아이콘 */
  /* 네비게이션 바 아이템 - 호버 */
  /* 네비게이션 바 아이템 - disabled */
  /* 네비게이션 바 아이템 - 선택됨 */
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-hover {
  background-color: #DAEFFC;
  color: #333435;
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-disabled {
  color: #666;
  /* 네비게이션 바 아이템 - 선택됨, disabled */
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-disabled.cl-selected {
  color: #777;
  background-color: #ccc;
}
.cl-navigationbar .cl-navigationbar-bar .cl-navigationbar-item.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
}
.cl-navigationbar.cl-focus {
  border-color: #1369C5;
}
/* 네비게이션 바 드랍다운 메뉴 */
.cl-navigationbar-list {
  border: solid 1px #bbb;
  font: 11pt sans-serif;
  /* 네비게이션 바 드랍다운 메뉴 아이템 */
}
.cl-navigationbar-list .cl-navigationbar-listitem {
  color: #333;
  /* 네비게이션 바 드랍다운 메뉴 아이템 텍스트 */
  /* 네비게이션 바 드랍다운 메뉴 아이템 - 호버 */
  /* 네비게이션 바 드랍다운 메뉴 아이템 - disabled */
  /* 네비게이션 바 드랍다운 메뉴 아이템 - 선택됨 */
}
.cl-navigationbar-list .cl-navigationbar-listitem .cl-navigationbar-icon-wrapper {
  /* 네비게이션 바 드랍다운 메뉴 아이템 아이콘 */
}
.cl-navigationbar-list .cl-navigationbar-listitem .cl-navigationbar-arrow-wrapper .cl-navigationbar-arrow {
  /* 네비게이션 바 드랍다운 메뉴 아이템 아이콘 */
}
.cl-navigationbar-list .cl-navigationbar-listitem .cl-navigationbar-accesskey-wrapper {
  /* 네비게이션 바 드랍다운 메뉴 아이템 단축키 */
}
.cl-navigationbar-list .cl-navigationbar-listitem.cl-hover {
  background-color: #DAEFFC;
  color: #333435;
}
.cl-navigationbar-list .cl-navigationbar-listitem.cl-disabled {
  color: #666;
  /* 네비게이션 바 드랍다운 메뉴 아이템 - disabled, 선택됨 */
}
.cl-navigationbar-list .cl-navigationbar-listitem.cl-disabled.cl-selected {
  color: #777;
  background-color: #ccc;
}
.cl-navigationbar-list .cl-navigationbar-listitem.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
}
/* 탭 폴더 - disabled */
/* 탭 폴더 */
.cl-tabfolder {
  color: #333;
  font: 11pt sans-serif;
  /* 이전으로 스크롤 버튼 */
  /* 다음으로 스크롤 버튼 */
  /* 헤더 */
  /* 탭폴더 바디 */
}
.cl-tabfolder .cl-tabfolder-prev {
  border: solid 1px #bbb;
  /* 이전으로 스크롤 버튼 - disabled */
}
.cl-tabfolder .cl-tabfolder-next {
  border: solid 1px #bbb;
  /* 다음으로 스크롤 버튼 - disabled */
}
.cl-tabfolder .cl-tabfolder-header {
  /* 탭 헤더 아이템 */
}
.cl-tabfolder .cl-tabfolder-header .cl-tabfolder-item {
  background-color: white;
  border: solid 1px #bbb;
  /* 탭 헤더 아이템 닫기 버튼 */
  /* 탭 헤더 아이템 - 선택됨 */
  /* 탭 헤더 아이템 - 호버 */
}
.cl-tabfolder .cl-tabfolder-header .cl-tabfolder-item.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
  border-color: #1369C5;
  /* 탭 헤더 아이템 닫기 버튼 - 선택 됨 */
}
.cl-tabfolder .cl-tabfolder-header .cl-tabfolder-item:not(.cl-selected):hover {
  background-color: #DAEFFC;
}
.cl-tabfolder .cl-tabfolder-body {
  background-color: white;
  color: #333;
  border: solid 1px #bbb;
}
/* 페이지 인덱서 */
.cl-pageindexer {
  font: 11pt sans-serif;
  color: #333;
  /* 페이지 인덱서 버튼 공통 */
  /* 페이지 인덱서 처음으로 버튼 */
  /* 페이지 인덱서 이전 버튼 */
  /* 페이지 인덱서 다음 버튼 */
  /* 페이지 인덱서 마지막으로 버튼 */
  /* 페이지 인덱서 - disabled */
}
.cl-pageindexer .cl-pageindexer-first,
.cl-pageindexer .cl-pageindexer-last,
.cl-pageindexer .cl-pageindexer-prev,
.cl-pageindexer .cl-pageindexer-next,
.cl-pageindexer .cl-pageindexer-index {
  border: 1px solid #bbb;
}
.cl-pageindexer .cl-pageindexer-index {
  /* 페이지 인덱서 선택된 페이지 */
}
.cl-pageindexer .cl-pageindexer-index.cl-selected {
  background-color: #208AED;
  color: #FFFFFF;
  border-color: #1369C5;
}
.cl-pageindexer.cl-disabled {
  color: #666;
}
.cl-pageindexer:not(.cl-disabled) {
  /* 페이지 인덱서 처음으로 버튼 - 액티브 */
  /* 페이지 인덱서 이전 버튼 - 액티브 */
  /* 페이지 인덱서 다음 버튼 - 액티브 */
  /* 페이지 인덱서 마지막으로 버튼 - 액티브 */
}
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-first:not(.cl-selected),
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-last:not(.cl-selected),
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-prev:not(.cl-selected),
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-next:not(.cl-selected),
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-index:not(.cl-selected) {
  /* 페이지 인덱서 버튼 공통 - 호버 */
  /* 페이지 인덱서 버튼 공통 - 액티브 */
}
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-first:not(.cl-selected).cl-hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-last:not(.cl-selected).cl-hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-prev:not(.cl-selected).cl-hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-next:not(.cl-selected).cl-hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-index:not(.cl-selected).cl-hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-first:not(.cl-selected):hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-last:not(.cl-selected):hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-prev:not(.cl-selected):hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-next:not(.cl-selected):hover,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-index:not(.cl-selected):hover {
  background-color: #DAEFFC;
}
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-first:not(.cl-selected):active,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-last:not(.cl-selected):active,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-prev:not(.cl-selected):active,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-next:not(.cl-selected):active,
.cl-pageindexer:not(.cl-disabled) .cl-pageindexer-index:not(.cl-selected):active {
  background-color: #208AED;
  color: #FFFFFF;
}
.cl-pageindexer.cl-disabled {
  /* 페이지 인덱서 버튼 공통 - disabled */
  /* 페이지 인덱서 버튼 공통 - disabled, selected */
}
.cl-pageindexer.cl-disabled .cl-pageindexer-index.cl-selected {
  background-color: #ccc;
  color: #777;
}
/* 노티파이어 아이템 */
.cl-notifier-item {
  font: 11pt sans-serif;
  /* 노티파이어 아이템 텍스트 */
  /* 노티파이어 아이템 아이콘 */
  /* 노티파이어 아이템 닫기 버튼 */
  /* 노티파이어 아이템 기본 스타일 */
  /* 노티파이어 아이템 success 스타일 */
  /* 노티파이어 아이템 info 스타일 */
  /* 노티파이어 아이템 warning 스타일 */
  /* 노티파이어 아이템 danger 스타일 */
}
.cl-notifier-item.cl-notifier-default {
  /* 노티파이어 아이템 기본 아이콘 */
}
.cl-notifier-item.cl-notifier-success {
  /* 노티파이어 아이템 success 아이콘 */
}
.cl-notifier-item.cl-notifier-info {
  /* 노티파이어 아이템 info 아이콘 */
}
.cl-notifier-item.cl-notifier-warning {
  /* 노티파이어 아이템 warning 아이콘 */
}
.cl-notifier-item.cl-notifier-danger {
  /* 노티파이어 아이템 danger 아이콘 */
}
/* 프로그레스 바 루트 */
.cl-progress {
  font: 11pt sans-serif;
  background-image: linear-gradient(#aaa, #E6E7E9 4px);
  border: 1px solid #bbb;
  color: #333;
  /* 진행 바 */
}
.cl-progress .cl-progress-bar {
  border: 1px solid #2476AA;
  background-image: linear-gradient(#99D1F1, #1C6DA0, #3397D4);
}
/* 프로그레스 바 - disabled */
.cl-progress.cl-disabled {
  border-color: #ddd;
  background-image: linear-gradient(#ccc, #eee 4px);
  /* 진행 바 - disabled */
}
.cl-progress.cl-disabled .cl-progress-bar {
  border-color: #999;
  background-image: linear-gradient(#eee, #aaa, #ddd);
}
/* 파일 인풋 루트 */
.cl-fileinput {
  font: 11pt sans-serif;
  color: #333;
  border: solid 1px #bbb;
  background-color: #fff;
  /* 파일 인풋 내 텍스트 */
  /* 포커스 상태 */
}
.cl-fileinput:focus {
  border: solid 1px #1369C5;
}
/* 드래그 호버 상태 */
.cl-fileinput-draghover {
  border-color: red;
}
/**********************************
 폼 레이아웃
 **********************************/
.cl-formlayout-column-shade {
  /* 컬럼 음역 스타일 */
}
.cl-formlayout-vertical-separator,
.cl-formlayout-horizontal-separator {
  /* 구분 선 스타일 */
}
